body {
    font:12pt Arial;
    background-color: white;
    color: ;
}
h1, h2, h3 {
    font-family: verdana;
    color: rgb(253, 165, 221);
}
button {
    font-size: 12pt; padding:30px;
    color: rgb(253, 165, 221);
}


section {
    border-style: solid;
    border-color: rgb(253, 165, 221);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    border-radius: 2.5em;
